.favBtn {
  background-color: #f01708;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favBtn:hover {
  background-color: #28e483;
}

.downloadBtn {
  background-color: #e4a228;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadBtn:hover {
  background-color: #78f008;
}
