.favBtnAdd {
  background-color: #08f059;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favBtnAdd:hover {
  background-color: #d4e428;
  color: black;
}

.favBtnDel {
  background-color: #f01708;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favBtnDel:hover {
  background-color: #f4f411;
  color: black;
}
