.header {
  max-width: 100%;
  background-color: gray;
  margin: auto;
  display: flex;
}

.list {
  display: flex;
  list-style-type: none;
  gap: 5rem;
}

.list a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.list a:hover,
.list a.active {
  transition: all 0.3s ease-in-out;
  color: red;
}
